In [1]:
# Calculate the sum, difference, product, and quotient of two numbers.
a=int(input("Enter a first number :"))
b=int(input("Enter a second number :"))
sum=a+b
print(sum)

Enter a first number : 45
Enter a second number : 45

90

In [3]:
a=int(input("Enter a first number :"))
b=int(input("Enter a second number :"))
difference=a-b
print(difference)

Enter a first number : 56
Enter a second number : 34

22

In [4]:
a=int(input("Enter a first number :"))
b=int(input("Enter a second number :"))
product=a*b
print(product)

Enter a first number : 4
Enter a second number : 5

20

In [5]:
a=int(input("Enter a first number :"))
b=int(input("Enter a second number :"))
quotient=a/b
print(quotient)

Enter a first number : 80
Enter a second number : 20

4.0

In [8]:
# Perform various assignment operations on a variable.
r==56
f==45
r==f

False

In [11]:
r==56
f==56
r==f

True

In [15]:
 # Compare two numbers and print the results.
b=int(input("Enter a first number: "))
a=int(input("Enter a second number: "))
if a==b:
  print(" given number is equal")
else:
  print(" given number is not equal")

Enter a first number:  45
Enter a second number:  677

 given number is not equal

In [19]:
# Check conditions using logical operators.
sunny=1
rain =2
if a and b:
   print("you take a umberalla ")
else:
   print("you not take a umberalla ")

you take a umberalla

In [20]:
# Check the identity of variables.
x = ["apple", "banana"]
y = ["apple", "banana"]
z = x

print(x is z)

# returns True because z is the same object as x

print(x is y)

# returns False because x is not the same object as y, even if they have the same content

print(x == y)

# to demonstrate the difference betweeen "is" and "==": this comparison returns True because x is equal to y

True
False
True

In [21]:
# Perform bitwise operations on any two integers.
a = 10
b = 4

# Print bitwise OR operation
print("a | b =", a | b)

a | b = 14

In [27]:
# Use unary operators to change the sign of a number.
my_first_number = 34
my_second_number = 56
my_first_number += my_second_number
my_first_number

90

In [31]:
# Use the ternary operator to assign values based on conditions.
n = 56
b = "Even" if n % 2 == 0 else "Odd"
print(b)

Even